extends layout 
 
block content 
  if (!user) 
    a(href="/login", class='btn btn-secondary') Login 
    br 
    a(href="/register", class='btn btn-secondary') Register 
  if (user) 
    p You are currently logged in as #{user.username} 
    a(href="/trees", class='btn btn-secondary') Take me to costumes 
    br 
    a(href="/logout", class='btn btn-secondary') Logout 

