extends layout
block content
  h1=title
  form(id='TreeForm', action="/resource/trees", method="POST")
    div.form-group
      div(class="form-group row")
        label.treeAttr(for='tree_species' class="col-sm-2 col-form-label" )  Tree species
        div(class="col-sm-6")
          input#tree_species(type='text', name='tree_species' class="form-control "  placeholder="Tree Species")
    div.form-group
      div(class="form-group row")
        label.treeAttr(for='tree_age' class="col-sm-2 col-form-label") Tree age
        div(class="col-sm-6")
          input#tree_age(type='number', name='tree_age' class="form-control" placeholder="Tree Age")
    div.form-group
      div(class="form-group row")
        label.treeAttr(for='tree_height' class="col-sm-2 col-form-label") Tree height
        div(class="col-sm-6")
          input#tree_height(type='text', name='tree_height' class="form-control" placeholder="Tree Height")
    input(type="submit" class="btn btn-outline-success btn-lg" style="margin-top:10px;")
    input(type="reset" class="btn btn-outline-warning btn-lg " style="margin-top:10px;"  value="Reset")
  script.
    document.forms['TreeForm'].addEventListener('submit', (event) => {
    event.preventDefault();
    // TODO do something here to show user that form is being submitted
    fetch(event.target.action, {
    method: 'POST',
    body: new URLSearchParams(new FormData(event.target)) // event.target is the form
    }).then((resp) => {
    return resp.json(); // or resp.text() or whatever the server sends
    }).then((body) => {
    alert("Save succeded")
    // TODO handle body
    }).catch((error) => {
    // TODO handle error
    alert("Save failed " + error )
    });
    });